@import "common/grid.sass"
@import "common/variables.sass"
@import "common/mixins.sass"

.catalog
    display: flex
    flex-flow: row
    align-items: flex-start
    justify-content: flex-start
    margin-bottom: 100px
    @include max-large
        flex-wrap: wrap
    .custom-header
        display: none
        .hamburger
            display: none
        @include max-large
            display: flex
            flex-flow: column
            width: 100%
            margin-bottom: 40px
        @include max-medium
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            .hamburger
                width: 50%
                display: flex
                align-items: center
                flex-flow: row
                justify-content: flex-start
                padding-left: 0
                position: relative
                z-index: 2
                .hamburger-box
                    margin-right: 6px
                p
                    color: $pink
                    margin-bottom: 0
                .hamburger-inner
                    &:before
                        width: 30px
                        left: 5px
                    &:after
                        width: 20px
                        left: 10px
                &.is-active
                    .hamburger-inner
                        &:after
                            width: 40px
                            left: 0
            .sorting
                width: 50%
    .sorting
        display: flex
        flex-flow: row
        margin-bottom: 30px
        @include max-medium
            margin-bottom: 0
            justify-content: flex-end
        .dropdown
            display: none
            button
                display: flex
                align-items: center
                justify-content: space-between
                padding: 12px
                width: 200px
                @include max-small
                    width: 150px
            .dropdown-menu
                border-top: 1px solid $pink
                width: 276px
                right: 0
                left: unset
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
                padding: 25px 40px
                .dropdown-item:not(:last-child)
                    margin-bottom: 15px
            @include max-medium
                display: block
        & > span
            margin-right: 20px
            @include max-medium
                display: none
        a
            +font-lighter(14px)
            line-height: 17px
            margin-right: 30px
            display: flex
            align-items: center
            @include max-extra-large
                margin-right: 22px
            @include max-medium
                &.list-item
                    display: none
            span
                margin-right: 6px
            &.active
                color: $pink
                svg path
                    fill: $pink
            &:nth-child(2)
                svg
                    transform: rotate(180deg)
    .category-full-list
        width: 300px
        position: relative
        padding: 45px 0
        margin-bottom: 120px
        margin-right: 30px
        @include max-large
            width: 230px
        @include max-medium
            position: absolute
            left: -100%
            width: 100%
            &.mobile-menu
                left: 0
                top: 300px
                z-index: 1
                background: $white
        &:before
            content: ""
            position: absolute
            top: 0
            left: -120%
            width: 220%
            height: 100%
            background: $the-lightest-grey
            z-index: 0
            @include max-medium
                display: none
        &:after
            content: ""
            position: absolute
            top: 0
            left: -50%
            width: 50%
            height: 100%
            background: url("../images/category-list-back.png") repeat 0 0
            background-size: contain
            @include max-medium
                display: none
        & > *
            position: relative
            z-index: 1
        .list
            display: flex
            flex-flow: column
            .item-list
                padding: 15px 0
                .minus
                    display: none
                .plus,
                .minus
                    margin-left: 15px
                    cursor: pointer
                &.open
                    .minus
                        display: block
                    .plus
                        display: none
            .first-item
                color: $pink
                +font-lighter(18px)
                line-height: 26px
                display: flex
                flex-flow: row wrap
                &.open
                    +font-normal(18px)
                    .sub-list
                        display: flex
                        height: auto
                a
                    margin-bottom: 10px
            .sub-list
                flex-flow: column
                padding-left: 30px
                width: 100%
                .sub-item
                    display: flex
                    flex-flow: row wrap
                    line-height: 17px
                    +font-lighter(14px)
                    color: $dark-grey
                    .minus
                        display: none
                    .plus
                        display: block
                    &.open
                        .minus
                            display: block
                        .plus
                            display: none
    .product-list-container
        width: calc(100% - 300px)
        @include max-large
            width: calc(100% - 260px)
        @include max-medium
            width: 100%
        h1
            @include max-large
                display: none
        .sorting
            @include max-large
                display: none
        .pagination
            display: flex
            justify-content: space-between
            align-items: center
            flex-flow: row
            @include max-small
                flex-flow: column
                .btn
                    margin-bottom: 16px
            .pagination-nav
                width: 180px
                display: flex
                align-items: center
                justify-content: space-between
                a
                    +font-lighter(16px)
                    width: 20px
                    height: 20px
                    display: flex
                    align-items: center
                    justify-content: center
                    &:hover
                        color: $light-grey
                    &.active
                        color: $white
                        background: $pink
                        pointer-events: none
    .product-list
        justify-content: space-between
        margin-bottom: 30px
        .product-card
            margin-right: 0
            width: 31%
            height: 575px
            @include max-large
                width: 47%
                height: 465px
            @include max-medium
                width: 31%
                height: auto
                .product-image
                    height: 215px
            @include max-small
                width: 100%
                .product-image
                    height: 345px