@import "../sass/common/fonts.sass"
@import "../sass/common/variables.sass"
@import "../sass/common/mixins.sass"

.footer-form
	background: url('images/form-footer.png')
	background-repeat: no-repeat
	padding: 120px 0
	margin-bottom: 70px
	@include max-extra-large
		background-position: 50%
	@include max-large
		background-size: cover
		padding: 90px 0
		background-position: 50%
	.wrapper
		display: flex
		flex-flow: row
		justify-content: flex-start
	.form-text
		max-width: 450px
		@include max-large
			max-width: 300px
		h4
			color: $white
			@include max-large
				font-size: 30px
				margin-top: 50px
		p
			+font-lighter(22px)
			width: 320px
			line-height: 32px
			@include max-large
				font-size: 14px
				white-space: normal
				width: 280px
	.form
		position: relative
		display: flex
		align-items: center
		.arrow-area
			display: flex
			flex-flow: row
			width: 110px
			height: 100%
			padding-left: 110px
			position: relative
			@include max-extra-large
				padding-left: 0
				width: 0
			p
				color: $white
				width: 260px
				margin: 0
				transform: rotate(-90deg)
				position: absolute
				bottom: 90px
				left: -110px
				font-size: 30px
				@include max-extra-large
					transform: rotate(0deg)
					top: -50px
					left: 98%
					width: 400px
					word-break: keep-all
					white-space: nowrap
				@include max-large
					font-size: 26px
			img
				height: 100px
				position: absolute
				top: 0
				left: 0
				@include max-extra-large
					top: -30px
					left: 400px
					transform: rotate(180deg)
				@include max-large
					left: 350px
					transform: rotate(160deg)
		form
			background: $white
			border: 10px solid $pink
			padding: 80px 55px 60px
			display: flex
			flex-flow: column
			margin-right: 70px
			min-width: 410px
			@include max-extra-large
				margin-right: 120px
			@include max-large
				width: 380px
				min-width: unset
				margin-right: 30px
			div
				position: relative
			label
				position: absolute
				width: 20px
				height: 20px
				margin-top: 5px
				z-index: 2
			input
				margin-bottom: 30px
				height: 33px
				padding-left: 30px
				border: none
				border-bottom: 2px solid $light-grey
				width: 100%
				&:focus
					border-bottom: 2px solid $pink
					outline: none
					box-shadow: 0px 1px 6px -6px rgba(243, 73, 112, 0.25)
			button
				+font-lighter(14px)
				height: 75px