@import "../sass/common/fonts.sass"
@import "../sass/common/variables.sass"
@import "../sass/common/mixins.sass"

// HEADER
header
    +font-light(14px)
    z-index: 1
    position: relative
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
    .wrapper
        padding-left: 170px
        @include max-extra-large
            padding-left: 130px
            padding-right: 10px
        @include max-large
            padding-left: 110px
        @include max-medium
            padding-left: 0
    .top-menu
        width: 100%
        background: $lightest-grey
        height: 40px
        padding: 10px 0
        position: relative
        z-index: 2
        @include max-medium
            display: none
        .top
            height: 100%
            position: relative
            display: flex
            flex-flow: row nowrap
            justify-content: space-between
            align-items: center
            nav
                width: 440px
                display: flex
                justify-content: space-between
                margin-right: 85px
                color: $grey
                @include max-extra-large
                    margin-right: 40px
                    width: 400px
                    font-size: 14px
                @include max-large
                    width: 440px
                    margin-right: 20px
            .phone-mobile
                display: none
                @include max-large
                    display: block
            .phones-list
                display: flex
                flex-flow: row nowrap
                justify-content: flex-start
                align-items: center
                margin-right: 30px
                @include max-extra-large
                    margin-right: 16px
                @include max-large
                    display: none
            .call-back
                width: 110px
                text-align: center
                @include max-extra-large
                    display: none
                &.mobile
                    display: none
                    @include max-extra-large
                        display: block
                        width: 60px
                        text-align: right
    .phone
        display: flex
        align-items: center
        justify-content: flex-start
        margin-right: 30px
        @include max-extra-large
            font-size: 12px
            margin-right: 12px
        @include max-medium
            font-size: 14px
            margin-right: 0
            margin-bottom: 20px
        &:last-child
            margin-right: 0
        img
            margin-right: 8px
            @include max-extra-large
                width: 12px
                height: 12px
            @include max-medium
                width: 20px
                height: 20px
    .logo-white
        position: absolute
        background: $pink
        width: 110px
        height: 160px
        display: flex
        align-items: center
        justify-content: center
        top: -10px
        left: 0
        box-shadow: 2px 4px 15px rgba(76, 1, 37, 0.15)
        border-radius: 0px 0px 10px 10px
        @include max-large
            width: 90px
            height: 138px
        @include max-medium
            position: relative
            margin-top: 62px
            width: 70px
            height: 102px
        @include max-small
            width: 50px
            height: 76px
            margin-top: 36px
        img
            @include max-large
                width: 53px
            @include max-medium
                width: 40px
            @include max-small
                width: 30px
    .main-menu
        height: 60px
        background: $white
        position: relative
        .from-top,
        .logo-white,
        .phones-list
            display: none
        .wrapper
            display: flex
            align-items: center
            justify-content: space-between
            flex-flow: row nowrap
            height: 100%
            padding-left: 155px
            @include max-extra-large
                padding-left: 120px
                padding-right: 10px
            @include max-large
                padding-left: 97px
            @include max-medium
                padding-left: 0
                padding-right: 0
                .logo-white
                    display: flex
        .hamburger
            display: none
            @include max-large
                display: flex
                justify-content: flex-start
                align-items: center
                .hamburger-box
                    margin-right: 8px
                p
                    color: $pink
                .catalog
                    display: block
                .close,
                .menu
                    display: none
                &.is-active
                    .catalog
                        display: none
                    .close
                        display: block
            @include max-medium
                position: relative
                z-index: 2
                .close,
                .catalog
                    display: none
                .menu
                    display: block
                &.is-active
                    .menu
                        display: none
                    .close
                        display: block
            @include max-small
                padding: 15px 0
        nav
            color: $dark-grey
            height: 100%
            display: flex
            align-items: center
            position: relative
            z-index: 1
            @include max-extra-large
                margin-right: 10px
            @include max-large
                height: 0
                opacity: 0
                display: none
                transition: 1s
                &.mobile-menu
                    height: auto
                    opacity: 1
                    display: block
                    position: absolute
                    top: 100%
                    left: 0
                    width: 100%
                    background: $white
                    padding: 60px 0
                    .from-top,
                    .phones-list
                        display: none
                    .wrapper
                        padding: 0
                        display: flex
                        flex-flow: column
                        justify-content: flex-start
                        align-items: flex-start
                    .menu-item
                        width: 210px
                        border-right: 1px solid $the-lightest-grey
                        position: relative
                        a
                            padding: 14px 20px
                        .sub-menu
                            left: -500px
                            top: 0
                            box-shadow: none
                            z-index: 0
                            transition: .3s opacity
                            nav
                                height: auto
                                opacity: 1
                                padding: 0 0 0 30px
                                a
                                    margin-bottom: 0
                                    padding: 10px 14px
                                    transition: .1s
                        &:hover
                            .sub-menu
                                left: 100%
                                top: 0
            @include max-medium
                &.mobile-menu
                    top: 0
                    .menu-item
                        border-right: none
                        @include max-small
                            width: 100%
                    .from-top
                        height: auto
                        opacity: 1
                        display: flex
                        flex-flow: column
                        justify-content: space-between
                        align-items: flex-start
                        margin-top: 30px
                        border-bottom: 1px solid $the-lightest-grey
                        border-top: 1px solid $the-lightest-grey
                        width: 210px
                        margin-bottom: 30px
                        .nav-link
                            color: $grey
                            padding: 14px 20px
                    .phones-list
                        display: flex
                        flex-flow: column
                        align-items: flex-start
                        justify-content: center
                        padding-left: 14px
            @include max-small
                &.mobile-menu
                    .menu-item
                        .sub-menu
                            transition: unset
                        &:hover
                            .sub-menu
                                left: unset
                                top: unset
            .menu-item
                height: 100%
                display: flex
                align-items: center
                background: $white
                &:not(:last-child)
                    margin-right: 5px
                    @include max-extra-large
                        margin-right: 0
                &:not(:hover)
                    background: $white
                &:hover
                    background: $pink
                    color: $white
                    .sub-menu
                        opacity: 1
                        top: 100%
                        a
                            opacity: 1
                & > a
                    display: flex
                    width: 100%
                    height: 100%
                    align-items: center
                    justify-content: flex-start
                    padding: 0 15px
                    @include max-extra-large
                        padding: 0 10px
                @include max-small
                    flex-flow: column
                    &:hover
                        .sub-menu
                            width: 100%
                            height: auto
                            background: $white
                            .nav-link
                                +font-lighter(14px)
        .sub-menu
            position: absolute
            top: -300px
            left: 0
            background: $white
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
            opacity: 0
            z-index: -2
            nav
                display: flex
                flex-flow: column
                align-items: flex-start
                justify-content: flex-start
                padding: 25px 30px 25px 40px
                @include max-extra-large
                    padding-left: 25px
                a
                    width: 100%
                    white-space: nowrap
                    opacity: 0
                    +font-light(14px)
                    &:not(:last-child)
                        margin-bottom: 30px
            @include max-small
                position: relative
                height: 0
        .right
            display: flex
            align-items: center
            justify-content: center
            flex-flow: row
            @include max-extra-large
                justify-content: flex-end
        .search
            margin-right: 30px
            padding-top: 6px
            @include max-extra-large
                margin-right: 30px
        .cart
            display: flex
            flex-flow: row nowrap
            justify-content: flex-start
            align-items: center
            position: relative
            @include max-extra-large
                justify-content: flex-end
            .count-mobile
                display: none
                background: $pink
                border-radius: 50%
                color: $white
                width: 15px
                height: 15px
                align-items: center
                justify-content: center
                top: 2px
                right: -7px
                @include max-small
                    display: flex
                    position: absolute
            img
                margin-right: 19px
                @include max-extra-large
                    margin-right: 15px
                @include max-small
                    margin-right: 0
            & > div
                display: flex
                flex-flow: column
                @include max-small
                    display: none
            .total
                +font-bold(18px)
            .count-items
                color: $darker-grey
                +font-light(12px)