.product-page
    display: grid
    grid-template-columns: 45% 35% auto
    grid-template-rows: 150px 100px auto
    grid-template-areas: 'images title price''images options price''images description .'
    @include max-extra-large
        grid-template-columns: 50% 50%
        grid-template-rows: auto auto auto auto
        grid-template-areas: 'images title''images price''images options''images description'
    @include max-large
        grid-template-columns: 40% 60%
        grid-template-rows: auto auto auto auto auto
        grid-template-areas: 'images title''images price''images options''images buy''description description'
    @include max-small
        grid-template-columns: 100%
        grid-template-rows: auto auto auto auto auto
        grid-template-areas: 'title''images''price''options'' buy''description'
    .images
        width: 95%
        display: flex
        flex-flow: row
        grid-area: images
        @include max-small
            width: 100%
            margin-bottom: 40px
        .main
            width: 450px
            height: 630px
            margin-right: 20px
            @include max-extra-large
                width: 350px
                height: auto
            @include max-large
                width: 200px
            @include max-small
                width: 90%
            img
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                border-radius: 4px
                width: 100%
                height: 100%
        ul
            list-style: unset
            padding-left: 0
            li
                width: 100px
                height: 100px
                list-style: none
                cursor: pointer
                @include max-large
                    width: 46px
                    height: 46px
                &:not(:last-child)
                    margin-bottom: 20px
                &.active
                    img
                        border: 1px solid $pink
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    border-radius: 2px
                    border: 1px solid $light-grey
    .product-title
        grid-area: title
        h1
            margin: 0 0 12px
            @include max-large
                font-size: 22px
        .availability
            color: $grey
            text-transform: uppercase
            +font-lighter(14px)
    .product-price
        grid-area: price
        justify-self: end
        border: 10px solid $pink
        box-shadow: 0 10px 20px rgba($pink, 0.5)
        padding: 34px
        display: flex
        flex-flow: column
        align-items: center
        width: 85%
        @include max-extra-large
            width: 100%
            border: none
            flex-flow: row
            box-shadow: none
            align-items: center
            justify-content: space-between
            margin-bottom: 30px
            padding: 0
        .price
            color: $pink
            +font-light(24px)
            line-height: 29px
            margin-bottom: 30px
            @include max-extra-large
                margin-bottom: 0
        .buy
            width: 100%
            @include max-extra-large
                margin-bottom: 0
                max-width: 200px
            @include max-large
                display: none
    .options
        grid-area: options
        display: flex
        flex-flow: column
        @include max-extra-large
            margin-bottom: 20px
        fieldset
            display: flex
            flex-flow: column
            label
                +font-lighter(12px)
                font-weight: normal
            select
                width: 100%
                padding: 8px 12px
                +font-lighter(12px)
                font-weight: normal
                border: 1px solid rgba(0, 0, 0, 0.1)
                border-radius: 4px
    .product-description
        grid-area: description
        @include max-large
            margin-top: 40px
        .accordion-title
            cursor: pointer
            color: $pink
            +font-normal(18px)
            .minus
                display: none
            &[aria-expanded=true]
                .plus
                    display: none
                .minus
                    display: inline
        .description-body
            +font-light(14px)
    .product-buy
        grid-area: buy
        display: none
        @include max-large
            display: block