<footer>
    <div class="wrapper">
        <div class="logo-footer">
            <img src="images/logo-pink.svg" alt="">
        </div>
        <div class="footer-column">
            <nav>
                <a class="nav-link" href="#">Гелиевые шары и композиции</a>
                <a class="nav-link" href="#">Цветы и фигуры из шаров</a>
                <a class="nav-link" href="#">Фольгированные шары</a>
                <a class="nav-link" href="#">Аксессуары для шаров</a>
                <a class="nav-link" href="#">Аксессуары для шаров</a>
            </nav>
        </div>
        <div class="footer-column">
            <nav>
                <a class="nav-link" href="#">Опт и Розница</a>
                <a class="nav-link" href="#">Доставка и оплата</a>
                <a class="nav-link" href="#">Отзывы</a>
                <a class="nav-link" href="#">Вопросы и ответы</a>
                <a class="nav-link" href="#">Контакты</a>
            </nav>
        </div>
        <div class="footer-column">
            <p class="footer-column-title">
                <img src="images/address-icon.svg" alt="">
                <span>Адрес</span>
            </p>
            <span>Г. Кривой Рог</span>
            <span>ул. Героев АТО 32</span>
            <span>(бывшая ул. Димитрова,</span>
            <span>97 квартал)</span>
        </div>
        <div class="footer-column">
            <p class="footer-column-title">
                <img src="images/clock-icon.svg" alt="">
                <span>Время работы</span>
            </p>
            <span>Пн – Пт: 8:00 - 18:30</span>
            <span>Сб – Вс: 8:00 – 18:00</span>
            <div class="social">
                <a href="#">
                    <img src="images/instagram.svg" alt="">
                </a>
                <a href="#">
                    <img src="images/facebook.svg" alt="">
                </a>
                <a href="#">
                    <img src="images/google-plus.svg" alt="">
                </a>
                <a href="#">
                    <img src="images/youtube.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer-column">
            <p class="footer-column-title">
                <img src="images/phone.svg" alt="">
                <span>телефоны</span>
            </p>
            <span>+38 (068) 343 03 43</span>
            <span>+38 (066) 232 16 16</span>
            <span>+38 (063) 232 16 16</span>
            <button class="btn uppercase" type="submit">Заказать звонок</button>
        </div>
    </div>
</footer>