<section class="footer-form">
	<div class="wrapper">
		<div class="form">
			<div class="arrow-area">
				<p class="italic">Оставь заявку, мы перезвоним!</p>
				<img src="images/arrow-form.svg" alt="">
			</div>
			<form action="">
				<div>
					<label for="name">
						<img src="images/footer-form-user.svg" alt="">
					</label>
					<input type="text" name="name" id="name" placeholder="Имя" class="footer-form-name-input">
				</div>
				<div>
					<label for="phone">
						<img src="images/footer-form-phone.svg" alt="">
					</label>
					<input type="text" name="phone" id="phone" placeholder="Телефон" class="footer-form-phone-input">
				</div>
				<div>
					<label for="email">
						<img src="images/footer-form-email.svg" alt="">
					</label>
					<input type="text" name="email" id="email" placeholder="E-mail" class="footer-form-email-input">
				</div>
				<button class="btn uppercase" type="submit">Получить консультацию</button>
			</form>
		</div>
		<div class="form-text">
			<h4 class="title">
				Нужны воздушные шары?
			</h4>
			<p>Не знаете, что выбрать? <br>
				Нужна консультация?<br>
				Наши менеджеры с легкостью Вам помогут!</p>
		</div>
	</div>
</section>