<section class="footer-form">
	<div class="wrapper">
		<div class="form">
			<div class="arrow-area">
				<p class="italic">Оставь заявку, мы перезвоним!</p>
				<img src="images/arrow-form.svg" alt="">
			</div>
			<form action="">
				<input type="text" name="name">
				<input type="text" name="phone">
				<input type="text" name="email">
				<button class="btn uppercase" type="submit">Получить консультацию</button>
			</form>
		</div>
		<div class="form-text">
			<h4 class="title">
				Нужны воздушные шары?
			</h4>
			<p>Не знаете, что выбрать? <br>
				Нужна консультация?<br>
				Наши менеджеры с легкостью Вам помогут!</p>
		</div>
	</div>
</section>