<header>
	<div class="top-menu">
		<div class="wrapper top">
			<div class="logo-white">
				<a href="#">
					<img src="images/logo-white.svg" alt="">
				</a>
			</div>
			<nav>
				<a class="nav-link" href="#">Опт и Розница</a>
				<a class="nav-link" href="#">Отзывы</a>
				<a class="nav-link" href="#">Вопросы и ответы</a>
				<a class="nav-link" href="#">Контакты</a>
			</nav>
			<div class="phone-mobile">
				<img src="images/phone.svg" alt="">
			</div>
			<div class="phones-list">
				<div class="phone">
					<img src="images/phone.svg" alt="">
					<span>(068) 343 03 43</span>
				</div>
				<div class="phone">
					<img src="images/phone.svg" alt="">
					<span>(066) 232 16 16</span>
				</div>
				<div class="phone">
					<img src="images/phone.svg" alt="">
					<span>(063) 232 16 16</span>
				</div>
			</div>
			<a class="call-back link pink" href="#">
				Заказать звонок
			</a>
			<a class="call-back link pink mobile" href="#">
				Звонок
			</a>
		</div>
	</div>
	<div class="main-menu">
		<div class="wrapper">
			<button class="hamburger hamburger--slider" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
				<p class="catalog">Каталог</p>
				<p class="menu">Меню</p>
				<p class="close">Закрыть</p>
			</button>
			<div class="logo-white">
				<a href="#">
					<img src="images/logo-white.svg" alt="">
				</a>
			</div>
			<nav>
				<div class="menu-item" href="#">
					<a href="#">Воздушные шары</a>
					<div class="dropdown sub-menu">
						<nav>
							<a class="nav-link" href="#">Печать на шариках</a>
							<a class="nav-link" href="#">Товары для праздника</a>
							<a class="nav-link" href="#">Декор из бумаги</a>
							<a class="nav-link" href="#">Сладости</a>
							<a class="nav-link" href="#">Композиции</a>
						</nav>
					</div>
				</div>
				<div class="menu-item" href="#">
					<a href="#">Печать на шариках</a>
				</div>
				<div class="menu-item" href="#">
					<a href="#">Товары для праздника</a>
				</div>
				<div class="menu-item" href="#">
					<a href="#">Декор из бумаги</a>
				</div>
				<div class="menu-item" href="#">
					<a href="#">Сладости</a>
				</div>
				<div class="menu-item" href="#">
					<a href="#">Композиции</a>
				</div>
				<nav class="from-top">
					<a class="nav-link" href="#">Опт и Розница</a>
					<a class="nav-link" href="#">Отзывы</a>
					<a class="nav-link" href="#">Вопросы и ответы</a>
					<a class="nav-link" href="#">Контакты</a>
				</nav>
				<div class="phones-list">
					<div class="phone">
						<img src="images/phone.svg" alt="">
						<span>(068) 343 03 43</span>
					</div>
					<div class="phone">
						<img src="images/phone.svg" alt="">
						<span>(066) 232 16 16</span>
					</div>
					<div class="phone">
						<img src="images/phone.svg" alt="">
						<span>(063) 232 16 16</span>
					</div>
				</div>
			</nav>
			<div class="right">
				<a href="#" class="search">
					<img src="images/search.svg" alt="">
				</a>
				<a href="#" class="cart">
					<img src="images/cart.svg" alt="">
					<span class="count-mobile">1</span>
					<div>
						<span class="total pink">300 грн</span>
						<span class="count-items">1 товар в корзине</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</header>