<section class="how-to-make-order wrapper">
	<h3 class="title">Как сделать заказ?</h3>
	<div class="stages">
		<div class="stage active">
			<p class="number title">01</p>
			<p class="medium-title light">Оформите заказ на нашем сайте</p>
		</div>
		<div class="stage">
			<p class="number title">02</p>
			<p class="medium-title light">Подтвердите заказ при разговоре с нашим менеджером</p>
		</div>
		<div class="stage">
			<p class="number title">03</p>
			<p class="medium-title light">Оплатите заказ по высланным Вам реквизитам</p>
		</div>
		<div class="stage">
			<p class="number title">04</p>
			<p class="medium-title light">Создаём для Вас яркие подарочки</p>
		</div>
		<div class="stage">
			<p class="number title">05</p>
			<p class="medium-title light">Получите Ваш заказ и наслаждайтесь подарочками :)</p>
		</div>
	</div>
</section>