<nav class="mobile-menu">
    <div class="menu-item" href="#">
        <a href="#">Воздушные шары</a>
        <div class="dropdown sub-menu">
            <nav>
                <a class="nav-link" href="#">Печать на шариках</a>
                <a class="nav-link" href="#">Товары для праздника</a>
                <a class="nav-link" href="#">Декор из бумаги</a>
                <a class="nav-link" href="#">Сладости</a>
                <a class="nav-link" href="#">Композиции</a>
            </nav>
        </div>
    </div>
    <div class="menu-item" href="#">
        <a href="#">Печать на шариках</a>
    </div>
    <div class="menu-item" href="#">
        <a href="#">Товары для праздника</a>
    </div>
    <div class="menu-item" href="#">
        <a href="#">Декор из бумаги</a>
    </div>
    <div class="menu-item" href="#">
        <a href="#">Сладости</a>
    </div>
    <div class="menu-item" href="#">
        <a href="#">Композиции</a>
    </div>
</nav>